<button (click)="showNewMovieModal(content)"
        class="btn btn-lg btn-outline-primary" type="button">New Movie
</button>

<!-- Movie Input DialogBox -->
<ng-template #content let-modal>
  <form (ngSubmit)="onSubmit()" (reset)="resetForm()" [formGroup]="movieForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{editMode?"Edit Movie":"New  Movie"}}</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
    </div>

    <div class="modal-body">

      <div class="mb-3">
        <label class="form-label" for="todoTitle">Movie Title</label>

        <input
          [ngClass]="{'is-invalid':form['title']?.invalid && (form['title']?.dirty || form['title']?.touched)}"
          class="form-control"
          formControlName="title"
          id="todoTitle"
          placeholder="Movie Title"
          type="text">

        <div
          *ngIf="form['title']?.invalid && (form['title']?.dirty || form['title']?.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="form['title']?.errors?.['required']"> Title is required.</span>

        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="todoTitle">Year </label>

        <input
          [ngClass]="{'is-invalid':form['year']?.invalid && (form['year']?.dirty || form['year']?.touched)}"
          class="form-control"
          formControlName="year"
          id="todoTitle"
          placeholder="Year"
          type="text">

        <div
          *ngIf="form['year']?.invalid && (form['year']?.dirty || form['year']?.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="form['year']?.errors?.['required']"> Year is required.</span>

        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="todoTitle">Genre </label>

        <ng-multiselect-dropdown #multiSelect
                                 (onSelect)="onItemSelect($event)"
                                 [(ngModel)]="selectedGenreItems"
                                 [settings]="dropdownSettings"
                                 [data]="dropdownGenreList"
                                 [placeholder]="'Select Genres'"

                                 formControlName="genres"

        >
        </ng-multiselect-dropdown>

        <div
          *ngIf="form['genres']?.touched && (!form['genres']?.value || form['genres']?.value.length==0)"
          class="alert alert-danger"
        >
        <span *ngIf="form['genres']?.errors?.['required']" class="validation">
            <sup>*</sup>required
        </span>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label" for="todoTitle">Actors </label>


        <ng-multiselect-dropdown #multiSelectForActors

                                 [settings]="dropdownSettingsForDirectorsAndActors"
                                 [data]="actors1"

                                 formControlName="actors"
                                 [placeholder]="'Select Actor'"


                                 (onSelect)="onItemSelect($event)"
                                 [(ngModel)]="selectedActors1"



        >
        </ng-multiselect-dropdown>

        <div
          *ngIf="form['actors']?.touched && (!form['actors']?.value || form['actors']?.value.length==0)"
          class="alert alert-danger"
        >
        <span *ngIf="form['actors']?.errors?.['required']" class="validation">
            <sup>*</sup>required
        </span>
        </div>

      </div>


      <div class="mb-3">
        <label class="form-label" for="todoTitle">Directors </label>


        <ng-multiselect-dropdown #multiSelectForDirectors
                                 (onSelect)="onItemSelect($event)"
                                 [(ngModel)]="selectedDirectors1"
                                 [settings]="dropdownSettingsForDirectorsAndActors"
                                 [data]="directors1"
                                 [placeholder]="'Select Director'"

                                 formControlName="directors"
        >
        </ng-multiselect-dropdown>

        <div
          *ngIf="form['directors']?.touched && (!form['directors']?.value || form['directors']?.value.length==0)"
          class="alert alert-danger"
        >
        <span *ngIf="form['directors']?.errors?.['required']" class="validation">
            <sup>*</sup>required
        </span>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button (click)="modal.close('Save/Update click')"
              [disabled]="!movieForm.valid"
              class="btn btn-outline-success pe-2"
              type="submit">
        {{!editMode?"Save":"Update"}}
      </button>
      <!--<button (click)="modal.close('Cancel click')" class="btn btn-outline-secondary" type="button">Cancel</button>-->
      <button (click)="close(modal)" class="btn btn-outline-secondary" type="button">Cancel</button>
    </div>
  </form>
</ng-template>


