
<button (click)="showNewTodoModal(content)"
        class="btn btn-lg btn-outline-primary">Add New Todo</button>
<hr/>
<!-- Todo Input DialogBox -->
<ng-template #content let-modal>
  <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{editMode?"Edit Todo":"New Todo"}}</h4>
      <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
    </div>

    <div class="modal-body">
      <div class="mb-3">
        <label class="form-label" for="todoId">Todo Id</label>
        <fieldset [disabled]="editMode">
        <input
          [ngClass]="{'is-invalid':form['id']?.invalid && (form['id']?.dirty || form['id']?.touched)}"
          class="form-control"
          formControlName="id"
          id="todoId"
          [readOnly]="editMode"
          placeholder="Todo Id"
          type="text">
        </fieldset>
        <div
          *ngIf="form['id']?.invalid && (form['id']?.dirty || form['id']?.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="form['id']?.errors?.['required']"> Id is required.</span>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label" for="todoUserId">Todo User Id</label>
        <input
          [ngClass]="{'is-invalid':form['userId']?.invalid && (form['userId']?.dirty || form['userId']?.touched)}"
          class="form-control"
          formControlName="userId"
          id="todoUserId"
          placeholder="Todo User Id"
          type="text">

        <div
          *ngIf="form['userId']?.invalid && (form['userId']?.dirty || form['userId']?.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="form['userId']?.errors?.['required']"> User Id is required.</span>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="todoTitle">Enter Todo Title</label>

        <input
          [ngClass]="{'is-invalid':form['title']?.invalid && (form['title']?.dirty || form['title']?.touched)}"
          class="form-control"
          formControlName="title"
          id="todoTitle"
          placeholder="Todo Title"
          type="text">

        <div
          *ngIf="form['title']?.invalid && (form['title']?.dirty || form['title']?.touched)"
          class="alert alert-danger"
        >
          <span *ngIf="form['title']?.errors?.['required']"> Title is required.</span>

          <span *ngIf="form['title']?.errors?.['minlength']">
            Title must be at least 5 characters.
          </span>

          <span *ngIf="form['title']?.errors?.['pattern']">Title must be letters </span>

        </div>
      </div>

      <div class="mb-3">
        <label for="completed">Completed ?</label>
        <div class="form-check">
          <input [value]="false"
                 class="form-check-input"
                 formControlName="completed"
                 id="notCompleted"
                 type="radio"
          >
          <label class="form-check-label" for="notCompleted">
            Not completed
          </label>
        </div>
        <div class="form-check">
          <input
            [value]="true"
            class="form-check-input"
            formControlName="completed"

            id="completed"
            type="radio"
          >
          <label class="form-check-label" for="completed">
            Completed
          </label>
        </div>

      </div>

    </div>

    <div class="modal-footer">
      <button [disabled]="!todoForm.valid"
              (click)="modal.close('Save/Update click')"
              class="btn btn-outline-success pe-2"
              type="submit">
       {{!editMode?"Save":"Update"}}
      </button>
      <button (click)="modal.close('Cancel click')" class="btn btn-outline-secondary" type="button">Cancel</button>
    </div>
  </form>
</ng-template>
<!--End of  Todo Input DialogBox -->



<!-- end of the ngx bootstrap modal dialog-->
